<div>
    <label> Title </label>
    <input type="text" name="title" value="<%= bookRequest.title %>" />
</div>

<div>
    <label> Author </label>
    <input type="text" name="author" value="<%- bookRequest.author %>" />
</div>

<div>
    <label> Publish Date </label>
    <input type="date" name="publishDate"
            value="<%= bookRequest.publishDate == null ? '': bookRequest.publishDate.toISOString().split('T')[0] %>" />
            </div>

<div>
    <label> Page Count </label>
    <input type="number" name="pageCount" min="1"
            value="<%- bookRequest.pageCount="" %>" />
</div>

<div>
    <label> Cover </label>
    <input type="file" name="cover" class="filepond"/>
</div>

<div>
    <label> Description </label>
    <textarea name="description">
      <%-bookRequest.description%></textarea>
</div>