<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Register</title>
    <style>
        *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            font-size: 1em;
        }
        body{
            background: rgb(206, 233, 233);
        }
        .row{
            background: white;
            border-radius: 30px;
            box-shadow: 12px 12px 22px rgb(127, 207, 194);
        }
        img{
            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;
        }
        .btn1{
            border: none;
            outline: none;
            height: 50px;
            width: 100%;
            background-color: darkcyan;
            color: white;
            border-radius: 4px;
            font-weight: bold;
        }
        .btn1:hover{
            background-color: rgb(179, 245, 179);
            border: 2px solid;
            color: rgb(0, 0, 0);
        }
    </style>
</head>

<body>
        <%- include ("../partials/messages") %>


        <section class="Form my-4 mx-5">
            <div class="container">


                <div class="row no-gutters">
                    <div class="col-lg-5">
                        <img src="library.jpg" class="img-fluid" id="regImg" alt="Register-Image" width="100%">
                    </div>

                    <div class="col-lg-7 px-5 pt-5">
                        <h1 class="font-weight-bold py-3">eLibrary</h1>
                        <h2 class="py-1">Register Account</h2>
                        <form action="register" method="POST">

                            <div class="form-row">
                                <div class="col-lg-7">
                                    <label for="name"></label>
                                        <input type="text" class="form-control my-3 p-4" id="name" name="name" placeholder="Enter Name"
                                        value="<%= typeof name != 'undefined' ? name : '' %>" required />
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-lg-7">
                                    <label for="email"></label>
                                        <input type="email" class="form-control my-3 p-4" id="email" name="email" placeholder="Enter Email"
                                        value="<%= typeof email != 'undefined' ? email : '' %>" required />
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-lg-7">
                                    <label for="password"></label>
                                        <input type="password" class="form-control my-3 p-4" id="password" name="password" placeholder="Enter Password"
                                        value="<%= typeof password != 'undefined' ? password : '' %>" required />
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-lg-7">
                                    <label for="password"></label>
                                        <input type="password" class="form-control my-3 p-4" id="password2" name="password2" placeholder="Confirm Password"
                                        value="<%= typeof password2 != 'undefined' ? password2 : '' %>" required />
                                </div>
                            </div>

                            
                            <div class="form-row">
                                <div class="col-lg-7">
                                    <button type="submit" class="registerBtn btn1 mt-3 mb-5">Register</button>
                                </div>
                            </div>

                   

                            

                            
                        <p class="mb-20">Already have an account?<a href="/users/login"> Log in </a>here</p>
                    </form>
                </div>
                </div>
        </section>
</body>

